.tab-list {
  display: flex;
  padding: 8px;
  cursor: pointer;
  background-color: #d2d2d2;
  // border-bottom: 1px solid #333;
  .tab-name {
    font-size: 2rem;
    padding: 0.8rem 1.6rem;
    border-radius: 10%;
    // text-align: center;
  }
  .active {
    background-color: #303f9f;
    color: #fff;
  }
}

.category-container {
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  margin: 32px;
  flex-direction: column;
  .child-container {
    display: flex;
    justify-content: space-evenly;
    // align-items: center;
    margin: 32px;
    flex-direction: row;
    .add-category {
      .input-container {
        width: auto;
        .cat-add-btn {
          margin-left: 32px;
        }
        .img-container {
          display: flex;
        }
        .input-fields {
          margin-right: 8px;
        }
      }
      .product-upload {
        margin: 12px;
      }
    }
    .categories {
      .update-container {
        display: flex;
        margin-bottom: 2rem;
      }
    }
  }
}
.admin-img {
  width: 180px;
  height: 150px;
}

.product-feilds {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  border-bottom: 2px solid #d2d2d2;
  .feild {
    padding-right: 8px;
  }
}
.getting-product {
  margin-bottom: 2rem;
}

.list-container {
  width: 350px;
  height: 290px;
  border: 1px solid #333;
  // border-radius: 10%;
  overflow: auto;
  .main-list {
    padding: 1rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    cursor: pointer;
    .content {
      display: flex;
      justify-content: space-evenly;
      .text {
        margin-right: 8px;
        text-transform: uppercase;
      }
    }
    &:hover {
      background-color: #303f9f;
      color: #fff;
    }
  }
}

.product-container {
  display: flex;
  justify-content: space-evenly;
  margin: 32px;
  flex-direction: row;
  .category-drop-down {
    .label-tag {
      padding-left: 16px;
    }
  }
}
.label-tag {
  padding-left: 16px !important;
}

.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

// --------------------------react table--------------------------
.react-table {
  @include breakpoint(desktop) {
    margin: 16px;
  }
  @include breakpoint(mobileonly) {
    margin-top: 16px;
  }
  .rt-thead {
    .rt-tr {
      .rt-th {
        background-color: #fff;
        font-weight: 600;
        color: #333;
        font-size: 16px;
      }
      .main-col {
        background-color: #d2d2d2;
      }
      .col {
        border: 1px solid #333;
        width: 26px !important;
      }
    }
  }
  .rt-tbody .rt-td {
    align-items: center;
    justify-content: center;
    display: flex;
    .product-img-container {
      height: 65px;
      width: 100px;
    }
  }
}

.best-product-container {
  width: 50%;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  .num-products {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .product-card {
    margin: 1rem;
  }
}
