.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .add-category {
    margin: 32px;
    .input-container {
      .input-fields {
        margin-right: 8px;
      }
    }
    .category-container{
        
    }
  }
  .product-upload {
    margin: 32px;
  }
}
