$text-color: #606770;
$btn-text-color: #fff;
$primary-text-color: #050505;

$base-bg: #f0f2f5;
$bg-color: #eff2f5;
$link-color: #216fdb;
$secondary-color: #65676b;
$secondary-bg-color: #e4e6eb;
$service-sub-text: #00a01d;

$card-bg: #fff;
$btn-bg: #fff;
$icon-color: #1c1e21;
$hover-color: rgba(0, 0, 0, 0.05);
$secondary-hover-color: rgba(0, 0, 0, 0.08);
$text-bg-color: $bg-color;

$border-color: #e4e6eb;

$blue-btn: #e7f3ff;

$shadow: rgba(0, 0, 0, 0.2);
$shadow-inset: rgba(255, 255, 255, 0.5);

$font-sz-xs: 0.8125rem;
$font-sz-sm: 0.9325rem;
$font-sz-m: 1rem;
$font-sz-l: 1.2rem;
$font-sz-xl: 1.5rem;

$font-w-normal: 500;
$font-w-bold: 600;
$header-height: 75px;

$gradient-1: #00cdff;
$gradient-2: #157af7;

$transition-time: 0.4s;
$transition-fn: linear;

.dark-theme {
  $text-color: #dddee0;
  $btn-text-color: #fdfcfc;
  $primary-text-color: #fefffd;
  $base-bg: #212835;
  $bg-color: #25282b;

  $secondary-color: #cbd0d8;
  $secondary-bg-color: #32343a66;
  $card-bg: #323a4b;
  $btn-bg: #272626;
  $icon-color: #d3d7dc;
  $hover-color: rgb(12, 12, 12, 38%);
  $secondary-hover-color: rgba(0, 0, 0, 0.08);
  $text-bg-color: #22232573;
  $border-color: #4e5054;
  $shadow: rgb(0 0 0 / 100%);
  $shadow-inset: rgb(12 12 12 / 10%);

  $blue-btn: #2d88ff33;

  img {
    filter: grayscale(50%) opacity(95%);
  }
}
