.home-container {
	height: 600px;
	width: 100%;
	.hero-container {
		position: relative;
		width: 100%;
		padding: 30px 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #22bda6;
		transition: 0.5s;

		.home-content {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			.text-box {
				position: relative;
				max-width: 600px;
				margin-bottom: 7rem;

				h2 {
					color: #fff;
					font-size: 4rem;
					line-height: 3rem;
					font-weight: 900;
					text-transform: uppercase;

					span {
						font-size: 2rem;
					}
				}
				p {
					color: #fff;
				}
				a {
					display: inline-block;
					margin-top: 22px;
					padding: 8px 20px;
					background: #fff;
					color: #111;
					border-radius: 40px;
					font-weight: 600;
					letter-spacing: 1px;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						background: $link-color;
						color: #fff;
					}
				}
			}
			.img-box {
				width: 600px;
				display: flex;
				padding-right: 50px;
				margin-top: 50px;
				justify-content: flex-end;

				img {
					max-width: 260px;
				}
			}
			.thumb {
				position: absolute;
				left: 50%;
				bottom: 20px;
				display: flex;
				transform: translateX(-50%);

				li {
					list-style: none;
					display: inline-block;
					margin: 0 20px;
					cursor: pointer;
					transition: 0.5s;
					padding-bottom: 5px;

					&.active-img {
						border-bottom: 2px solid $base-bg;
					}

					&:hover {
						transform: translateY(-15px);
					}

					img {
						max-width: 40px;
					}
				}

				li,
				&.active-img {
					animation: float 3s ease-in-out infinite;
				}
			}
			.sci {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				li {
					list-style: none;

					a {
						display: inline-block;
						filter: invert(1);
						margin: 5px 0;
						transform: scale(0.6);

						i {
							font-size: 3rem;
							color: #000;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.home-container {
		.hero-container {
			padding: 15px;
			padding-bottom: 0;

			.home-content {
				flex-direction: column;

				.text-box {
					position: relative;
					width: 100%;
					padding-right: 20px;
					margin-bottom: 0;

					h2 {
						font-size: 2rem;
					}

					a {
						font-size: 14px;
						padding: 8px 15px;
					}
				}
				.img-box {
					width: 100%;
					display: flex;
					padding-right: 0px;
					margin-top: 25px;
					justify-content: center;

					img {
						max-height: 150px;
						margin-bottom: 6rem;
					}
				}
				.thumb {
					li {
						img {
							max-width: 30px;
						}
					}
				}
				.sci {
					position: absolute;
					top: 50%;
					right: 0;
					background: rgba(0, 0, 0, 0.2);
					transform: translateY(-50%);
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50px;
				}
			}
		}
	}
}
