@media screen and (max-width: 1025px) {
  .container {
    margin: 0;
  }
  .main-header {
    .left-container {
      .search-container {
        .container {
          padding-left: 0;
          .form-control .search-wrapper {
            padding-left: 0;
            label .search-box {
              width: 230px;
              background-color: #e8eaeb;
              &:focus {
                width: 250px;
              }
            }
          }
        }
      }
      .logo-name {
        display: none;
      }
    }
    .dropdown-container {
      display: none;
    }
    .menu-icon {
      display: block;

      &__line {
        animation: closedMid 0.8s backwards;
        animation-direction: reverse;

        &::before {
          animation: closedTop 0.8s backwards;
          animation-direction: reverse;
        }
        &::after {
          animation: closedBtm 0.8s backwards;
          animation-direction: reverse;
        }
      }
    }
    .nav-links {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 10rem 0;
      width: 70%;
      height: 100vh;
      font-size: 1.5rem;
      color: #333;
      background: $card-bg;
      transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
      clip-path: circle(200px at top right);
      border-left: 2px solid #216fdb;
      border-radius: 5% 0% 0% 5%;
      overflow-x: auto;

      .side-menu {
        display: block;
      }

      .nav-link {
        opacity: 0;
        transform: translateX(100%);
        width: 100%;
        text-align: center;

        a {
          display: block;
        }
      }
    }

    .mobile-links {
      opacity: 1;
      clip-path: circle(100% at center);

      .nav-link {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.4s ease-in-out,
          transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:nth-of-type(1) {
          transition-delay: 0.5s;
        }
        &:nth-of-type(2) {
          transition-delay: 0.6s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.7s;
        }
        &:nth-of-type(4) {
          transition-delay: 0.8s;
        }
        &:nth-of-type(5) {
          transition-delay: 0.9s;
        }
        &:nth-of-type(6) {
          transition-delay: 1s;
        }
      }
    }

    .mobile-menu-icon {
      border-radius: 50%;
      animation: pulse 1s;
      .menu-icon__line {
        background: #333;
        animation: openMid 0.8s forwards;

        &::before {
          background: #333;
          animation: openTop 0.8s forwards;
        }
        &::after {
          background: #333;
          animation: openBtm 0.8s forwards;
        }
      }
    }
  }
  .icon {
    left: 20px;
    top: 12px;
    font-size: 1.2rem;
  }
  .hero h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 315px) and (max-width: 325px) {
  .main-header {
    justify-content: baseline;
    .left-container {
      .logo {
        margin: 0;
        width: 50px;
      }
      .search-container
        .container
        .form-control
        .search-wrapper
        label
        .search-box {
        width: 210px;
      }
    }
  }
}

@media screen and (min-width: 350px) and (max-width: 379px) {
  .main-header {
    justify-content: flex-end;
    .left-container .logo {
      margin: 0;
      width: 55px;
    }
    .menu-icon {
      padding: 26px 8px;
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 450px) {
  .main-header {
    .nav-links {
      top: 13px;
    }
    .left-container .logo {
      width: 60px;
      margin: 0 5px;
    }
  }
}

@media screen and (min-width: 405px) and (max-width: 415px) {
  .home-container {
    .home-cards {
      flex-direction: column !important;
      margin: 2rem !important;
      .home-card {
        margin: 2rem 0 !important;
      }
    }
  }
  .main-header
    .left-container
    .search-container
    .container
    .form-control
    .search-wrapper
    label
    .search-box {
    width: 270px;
  }
}

@media screen and (min-width: 760px) and (max-width: 768px) {
  .main-header .left-container {
    .logo-name {
      display: block;
      margin-right: 4rem;
    }
    .search-container
      .container
      .form-control
      .search-wrapper
      label
      .search-box {
      width: 350px;
      &:focus {
        width: 380px;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  body {
    font-size: 1.2rem;

    .main-header .left-container {
      .logo-name {
        display: block;
        margin-right: 1rem;
      }
      .search-container
        .container
        .form-control
        .search-wrapper
        label
        .search-box {
        width: 400px;
        &:focus {
          width: 430px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main-header .nav-links {
    width: 100%;
  }
}
